header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: $dark-color;
  min-height: 70px;
  height: 8vh;
  width: 100%;
  padding: 0em 1em;
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  .logo {
    @include flex-row;
    color: $highlight-color;
    font-weight: 500;
    align-items: center;
    font-size: 1.2em;
    svg {
      height: 40px;
      width: 40px;
      margin-right: 1em;
    }
  }
  .header-icons {
    svg {
      margin-left: 1em;
      height: 30px;
      width: 30px;
    }
  }
}
