#landing {
  padding: 3em;
  min-height: 100vh;
  @include flex-center;
  flex: 1;
  position: relative;
  justify-content: center;
  .showcase {
    margin-top: 70px;
    height: 100%;
    justify-content: center;
    align-items: center;
    .tagline {
      color: $grey-dark;
      font-weight: 500;
      margin: 5px 0px;
    }
  }
  .scroll-indicator {
    position: absolute;
    bottom: 1em;
  }
}
