@import "./global";
@import "./mobile";
@import "./buttons";
@import "./header";
@import "./landing";

.App {
  min-height: 100vh;
}

.App,
#portfolio,
#about,
#contact {
  @include flex-column;
}

#portfolio {
  background-color: $grey-light;
  padding: 3em;
  .card {
    @include flex-column;
    border: solid 1px $grey-medium;
    background-color: $light-color;
    align-items: center;
  }
}

#about {
  padding: 3em;
  background-color: $medium-color;
  color: $light-color;
  justify-content: center;
}

#contact {
  padding: 3em;
  justify-content: center;
  min-height: 100vh;
}

#contact-form {
  @include flex-column;
  width: 300px;
  margin: 0px auto;
  label {
    @include flex-column;
    margin-bottom: 1em;
  }
  input,
  textarea {
    padding: 0.5em;
    margin-top: 0.5em;
    border: solid 1px $grey-medium;
  }
  textarea {
    resize: none;
    height: 10em;
  }
  .error-border {
    border: solid 1px $error-color;
  }
  .error-message {
    color: $error-color;
    margin-left: 0.5em;
  }
  .success {
    @include flex-center;
    color: $success-color;
    border: solid 1px $success-color;
    padding: 1em;
  }
}

#footer {
  @include flex-center;
  width: 100%;
  background-color: $dark-color;
  padding: 1em;
  color: $light-color;
  justify-content: space-between;
}

.active {
  color: $grey-dark;
}
