@import "./global";
@import "./mobile";
@import "./buttons";

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: $dark-color;
  min-height: 70px;
  height: 8vh;
  width: 100%;
  padding: 0em 1em;
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  .logo {
    @include flex-row;
    color: $highlight-color;
    font-weight: 500;
    align-items: center;
    font-size: 1.2em;
    svg {
      height: 40px;
      width: 40px;
      margin-right: 1em;
    }
  }
  .header-icons {
    svg {
      margin-left: 1em;
      height: 30px;
      height: 30px;
    }
  }
}

.landing {
  @include flex-center;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  padding: 3em;
  .scroll-indicator {
    position: absolute;
    bottom: 25px;
  }
}

.showcase {
  .tagline {
    color: $tagline-color;
    font-weight: 500;
    margin: 5px 0px;
  }
}

#portfolio {
  @include flex-column;
  background-color: #eeeeee;
  padding: 3em;
  .card {
    @include flex-column;
    border: solid 1px #cccccc;
    background-color: #ffffff;
    align-items: center;
  }
}

#about {
  padding: 3em;
  @include flex-column;
  background-color: $medium-color;
  color: $light-color;
}

#contact {
  padding: 3em;
  @include flex-column;
}

form {
  @include flex-column;
  width: 350px;
  margin: 0px auto;
  label {
    @include flex-column;
    margin-bottom: 1em;
  }
  input,
  textarea {
    padding: 0.5em;
    margin-top: 0.5em;
    border: solid 1px #cccccc;
  }
  textarea {
    resize: none;
    height: 10em;
  }
  .error {
    color: red;
    border: solid 1px red;
  }
  .error-message {
    color: red;
    margin-left: 0.5em;
  }
  .success {
    @include flex-center;
    color: green;
    border: solid 1px green;
    padding: 1em;
  }
}

#footer {
  @include flex-center;
  width: 100%;
  background-color: $dark-color;
  padding: 1em;
  color: $light-color;
  justify-content: space-between;
}

.active {
  color: $secondary-color;
}
